* {
  margin: 0;
  padding: 0;
}

html {
/* width: 1280px; */
/* height: 3279px; */
font-size: 16px;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
margin-right: 80px;
padding: 80px;

}

body {
  margin: 80px;
  align-items: center;
}

p {
  font-size: 16px;
}

img{
  border-radius: 28px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 16px;

} 

ol img{ 
  border-radius: 28px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 48px;
  
}

 header {
  width: 1120;
  height: 79;
  text-align: justify;
 }

 .atract {
  color: #e1624f;
 }

 #description {
  /* margin: 40px; */
 }


 h1 {
  color:black;
  font-size: 36px;
 }

 .subtitulo {
  color: black;
  font-size: 32px;
 }

 ol {
  font-size: 28px;
  list-style: none;
 }

 main {
  margin: 88, 80, 137, 88;
 }

 #destinos {
  /* width: 1120px; */
  /* height: 88px; */
  /* z-index: 2; */
  margin-top: 64px;
  margin-bottom: 64px;
  padding-bottom: 64px;
  text-align: justify;
 }

 .historia {
  color: #0c51a7;
 }

 .linha1 {
  color: #591b98;
 }

 .linha2 {
  color: #e5245e;
 }

 .linha3 {
  color: #e95e10;
 }

 hr {
  border: 0;
  border-top: 1px solid #ccc; 
  margin: 40px;
 }

 div {
  text-align: center;
  width: 1120px;
  height: 66px;

 }

 #final {
  width: 1120px;
  height: 66px;
 }


 footer {
    margin-top: 65px;
    vertical-align: middle;
    text-align: center;
    padding: 65px, 537px, 48px, 537px;

 }

